<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Home</title>
<link rel="stylesheet" th:href="@{/style.css}" />
<link rel="stylesheet" th:href="@{/swiper/css/jTinder.css}" />
</head>
<body id="media-detail" class="page swiper">
	<!-- TODO: Login  -->
	<a th:href="${'/' + username + '/'}">Home</a>	

	<h1>Swiper</h1>
	
	
	<div id="swiperContainer">
		<div id="tinderslide">
		    <ul>
	        	<li th:each="item : ${media}" class="item" th:attr="data-uuid=${item.uuid}">
	        		<!-- TEMP, title will go away if images are used -->	        		
					<div th:id="${'item-' + item.uuid}" class="imageContainer">
						<button class="button toggleTodo"></button>
						<button class="button toggleOwned"></button>
						<span class="image" th:style="'background-image:url(/image/' + ${item.uuid} + ');'"></span>
					</div>
	        	</li>  
		    </ul>
		    
		    <p th:if="${media.size() == 0}">Die-hard! Je hebt alle media beoordeeld. Je kunt deze bekijken en aanpassen in je <a th:href="${'/' + username + '/movies/'}">media overzicht</a>.</p>
		</div>
	</div>
	
	
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	
	

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script th:src="@{/swiper/js/jquery.transform2d.js}"></script>
	<script th:src="@{/swiper/js/jquery.jTinder.js}"></script>
		
	<script>
		var username = window.location.pathname.split("/")[1];
	
		$(function() {
			// $("#tinderslide").jTinder();
			
			$("#tinderslide").jTinder({
			    onDislike: function (item) {
			    	judgeSeen(item, false);			    	
			    },
			    onLike: function (item) {			    	
			    	judgeSeen(item, true);			    	
			    },
			    animationRevertSpeed: 200,
			    animationSpeed: 400,
			    threshold: 1,
			    likeSelector: '.like',
			    dislikeSelector: '.dislike'
			});			
			
			
			$("body").on("click", ".toggleTodo, .toggleOwned", function(){
				if( $(this).hasClass("active") ){
					$(this).removeClass("active");					
				} else {					
					$(this).addClass("active");
				}				
			});
			
		});
		
		
		function judgeSeen(item, seen){			
			var mediaId = item.data("uuid");
			var owned = item.find(".toggleOwned").hasClass("active");
			var todo = item.find(".toggleTodo").hasClass("active");
			var url = "/" + username + "/media/" + mediaId;
			
			
			var postData = {
				"_csrf": $("input[name='_csrf']").val(),					
				"seen": seen,
				"owned": owned,
				"todo": todo					
			}
			
			
			console.log(url);
			console.log(postData);
			
			//data = JSON.stringify(data);
			
			// Ajax call to		
			$.post( url, postData).done(function( responseData ) {
				console.log( "Data Loaded: " + responseData );
			});
			  
			  $("#csrfForm").submit();
			
			//nextItem();
		}	
		
		// TODO: clicking for more info (but not when dragging)
		function showInfo(){
			alert("info is shown");
		}

	</script>
	
</body>
</html>