<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Home</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body id="subcategories" class="page">
	<!-- TODO: Login  -->
	<a th:href="${'/' + username + '/'}">Home (User)</a>

	<h1>Movies</h1>
	
	<div id="categoryContainer">
		<div class="categoryBlock">
			<a href="todo/" id="todo" class="inner">Todo</a>
		</div>
		<div class="categoryBlock">
			<a href="notseen/" id="notseen" class="inner">notseen</a>
		</div>
		<div class="categoryBlock">
			<a href="seen/" id="seen" class="inner">seen</a>
		</div>
		<div class="categoryBlock">
			<a href="owned/" id="owned" class="inner">owned</a>
		</div>
	</div>
	

</body>
</html>