<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1"/>
		<title th:text="${title}"></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
		<link rel="stylesheet" th:href="@{/style.css}" />
	</head>
	<body id="user-media-list" class="page">
		<!-- TODO: Create dynamic back button (for all media, not hardcode it for movies) -->
		<a th:href="${'/' + username + '/movies/'}">Back</a>
				
		
		<form class="logout inline" th:action="@{/logout/}" method="post">
             <button class="button logout" type="submit">Log out</button>
        </form>
	
		<!-- TODO: Login  -->
		<h1>Movies</h1>		
		<h3 th:inline="text">[[${title}]] (<span id="seenCounter" class="counter" th:inline="text">[[${media.size()}]]</span>)</h3>
		
		<div id="filterContainer">
			<button id="todoFilter" th:if="!${type.equals('todo')}" class="filter" onclick="filter()">Todo</button>
			<button id="ownedFilter" th:if="!${type.equals('owned')}" class="filter" onclick="filter()">Owned</button>
			<button id="seenFilter" th:if="!${type.equals('seen') || type.equals('notseen')}" class="filter" onclick="filter()">Seen</button>			
		</div>		
		
		<div id="seen" class="blockContainer">
			<div th:id="${'item-' + item.key.uuid}" class="mediaBlock" th:each="item : ${media}">				
				<button class="button toggleSeen notSeen" th:onclick="'toggleSeen(\'' + ${item.key.uuid} + '\');'" th:classappend="${item.value.seen} ? active"></button>
				<button class="button toggleTodo" th:onclick="'toggleTodo(\'' + ${item.key.uuid} + '\');'" th:classappend="${todoList.contains(item.key)} ? active"></button>
				<button class="button toggleOwned" th:onclick="'toggleOwned(\'' + ${item.key.uuid} + '\');'" th:classappend="${item.value.owned} ? active"></button>
				<a th:href="${'/media/movies/' + item.key.uuid}" title="Click to view details" class="image cover infoLink" th:style="'background-image:url(/image/' + ${item.key.uuid} + ');'"></a>
				<button class="button delete" th:onclick="'removeFromJudged(\'' + ${item.key.uuid} + '\');'"></button><!-- TEMP (For testing only)-->
				<span class="rating" th:text="${item.value.rating}"></span>				
			</div>
		</div>
				
		
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
		<script th:src="@{/media-interaction.js}"></script>
		
		<script>
			// If currently on todo page and you uncheck the todo circle, the movie should disappear
			// Same accounts for when you are in owned menu and uncheck owned
		
			function filter(){
				alert("Filters not made yet");
			}
			
			
		
		
		</script>
		
	</body>
</html>