<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Home</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body id="home" class="page">
	<!-- TODO: Login  -->

	<h1>User homepage</h1>
	
	<a th:href="${'/' + username + '/swiper/'}">Go and swipe some more!</a>		
	<a th:href="${'/' + username + '/movies/'}">My movies</a>
	<a th:href="${'/' + username + '/series/'}">My series</a>
	<a th:href="${'/' + username + '/books/'}">My books</a>
	

</body>
</html>