<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Home</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body id="home" class="page">
	<!-- TODO: Login  -->

	<h1>User homepage</h1>
	
	<div id="categoryContainer">
		<div class="categoryBlock">
			<a href="swiper/" id="owned" class="inner">Swiper</a>
		</div>
		<div class="categoryBlock">
			<a href="movies/" id="todo" class="inner">Movies</a>
		</div>
		<div class="categoryBlock">
			<a href="series/" id="notseen" class="inner">Series</a>
		</div>
		<div class="categoryBlock">
			<a href="books/" id="seen" class="inner">Books</a>
		</div>
		
		<div class="categoryBlock">
			<a href="friends/" id="friends" class="inner">Friends</a>
		</div>			
	</div>
	

</body>
</html>